<style>
    .image-gallery {overflow: auto; margin: auto; text-align: center; display: inline-block;}
    .image-gallery li { display: inline-block; min-width: 100px; width: 30%;}
    .image-gallery li a {text-align: center; text-decoration: none!important; color: #777;}
    .image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .image-gallery li a img {width: 100%; display: block;}
</style>

{{ $dir := .Params.gallery_dir }}
<ul class="image-gallery">
{{ range (readDir (printf "static/%s" $dir)) }}
  {{- $image := resources.Get (printf "%s/%s" $dir .Name) -}}
  {{- $imageurl := printf "/%s/%s" $dir .Name -}}
  {{- $imagetitle := index (split .Name ".") 0 -}}
    <li>
      <a href="{{ ($image.Fit "800x800 q50").Permalink }}" title="{{ $imagetitle }}" class="lightbox-image">
        <img src="{{ ($image.Fill "200x200 q50").Permalink }}" alt="{{ $imagetitle }}" title="{{ $imagetitle }}">
      </a>
    </li>

{{ end }}
</ul>
